/* Filters */
#filterContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#filterContainer form table {
    margin-left: 10px;
    min-width: 75%;
}

#filterContainer form input,
#filterContainer form select {
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
 
#filterContainer form table td {
    padding: 2px 5px 2px 5px;
}

#filterContainer form input[type="submit"],
#filterContainer form button[type="submit"],
.blueButton {
    background: #008FF9;
    color: white;
    float: left;
    margin-left: 0.5em;
}
#filterContainer form button[type="submit"] img,
blueButton img {
    max-height: 1em;
}
#filterContainer form input[type="submit"]:hover,
#filterContainer form button[type="submit"]:hover,
.blueButton:hover {
    background: #007FE9;
}

#filterContainer form label:hover {
    text-decoration: underline;
}

#filterContainer .tag {
    border-radius: 4px;
    border: 1px solid white;
    padding: 0.2em 0.5em;
    margin-left: 1em;
    max-height: 0.5em;
}


/* Tables */
table.tablesorter {
	font-family:arial;
/*	background-color: #CDCDCD;*/
	margin:10px 0pt 0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
        border-collapse: collapse;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
/*	background-color: #e6EEEE;*/
/*	border: 1px solid #FFF;*/
	font-size: 8pt;
	padding: 4px;
        padding-right: 16px;
}
table.tablesorter thead tr .header {
        background-image: url(../img/tablesorter-bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
/*	background-color: #FFF;*/
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
/*	background-color:#F0F0F6;*/
}
table.tablesorter thead tr .headerSortUp {
        background-image: url(../img/tablesorter-asc.gif);
}
table.tablesorter thead tr .headerSortDown {
        background-image: url(../img/tablesorter-desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
/*background-color: #8dbdd8;*/
}
.tablesorter th:hover {
    background: #e5e5e5;
    border-radius: 4px 4px 0px 0px;
}

/* Pagination */
div.tablesorterPager {
	padding: 10px 0 10px 0;
	background-color: #D6D2C2;
	text-align: center;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	font-size: 8px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}


#tableOuterWrapper {
    background: #dcdcdc;
    padding: 5px 5px 10px 5px;
    border-radius: 5px 5px 5px 5px;
}


#pager {
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}
#pager .pagedisplay {
    margin-top: 0px;
    background-color: inherit;
}

.pagerButton {
    border: 2px solid rgb(56, 59, 63);
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    width: 40px;
    height: 30px;
}



h2 {
    color: rgb(56, 59, 63);
    text-decoration: none;
    font-family: Helvetica,sans-serif;
}

#exportLinkContainer,
.tableTopButtonContainer {
    float: right;
    max-width: 20%;
}

.exportLink {
    float: right;
    background-color: #dcdcdc;
/*    border-radius: 0px 5px;*/
    border: solid #F0F0F0;
    border-width: 0px 0px 2px 2px;
    color: inherit;
    text-decoration: none;
    width: 100%;
    text-align: right;
}
.exportLink * {
    text-align: right;
}
.exportLink:first-child {
    border-radius: 0px 5px 0px 0px;
}
.exportLink:last-child {
    border-radius: 0px 0px 0px 5px;
}
.exportLink:hover {
    background: #007FE9;
    color: white;
}
.exportLink .inner {
    border: 1px solid #dcdcdc;
    border-radius: inherit;
    margin: 0px;
    padding: 2px 5px 2px 5px;
}
.exportLink:hover .inner {
    border-color: silver;
}
.exportLink .icon {
    height: 10px;
    width: 10px;
/*    background-image: url("../img/whiteArrow.png");*/
/*    float: right;*/
    margin: 0px 1px 0px 0.5em;
}
a.exportLink {
    text-decoration: inherit;
    color: inherit;
}

#createUserLink {
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
}

.tableImage {
    max-width: 200px;
    max-height: 100px;
    min-height: 50px;
    min-width: 50px;
    border: 1px solid silver;
    border-radius: 6px;
}


tr.item .icon,
a .icon {
    height: 0.8em;
    width: 0.8em;
    max-height: 20px;
    max-width: 20px;
}

tr.item .buttonContainer {
    float:right;
    margin-right: 5%;
    margin-top: 10px;
}

.item td {
    background-color: white;
}

/* Rules for highlighting based on report status */
.report.rejected td {
    background-color: #ffdddd;
}
.report.verified td {
    background-color: #ddffdd;
}
.report.pending td {
    background-color: white;
}
/*  */

.item.report td {
    height: 110px;
}

.item td:first-child {
    border-radius: 5px 0px 0px 5px;
}
.item td:last-child {
    border-radius: 0px 5px 5px 0px;
}

.deleteButton {
    background: #ff7766;
    color: white;
}
.deleteButton:hover {
    background: tomato;
}

.report.noItemsFiller,
.user.noItemsFiller {
    height: 110px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding-top: 35px;
}

.user.basic td {
    background-color: white;
}
.user.analyst td {
    background-color: #ddddff;
}
.user.hyperanalyst td {
    background-color: #eeddff;
}

.tag.basic {
    visibility: hidden;
}
.tag.analyst {
    background: #ddddff;
}
.tag.hyperanalyst {
    background: #eeddff;
}

.item.clickable:hover td {
    background-color: lightblue;
    cursor: pointer;
}
.item:hover td {
    background-color: lightyellow;
}
